* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .tabs {
      display : flex;
      flex-wrap: wrap;
      gap : 5;
  }

  .options
  {
      display : flex;
      flex-direction: column;
      cursor: pointer;
  }

  .buttons-div{
      padding-left : 10px;
      display : flex;
      gap : 20;
  }

  .tabs-buttons-div{
      padding-left : 10px;
      padding-right : 10px;
      display : flex;
      gap : 2;
  }

  .tab-btn
  {
      padding: 0;
      margin-top: 5px;
      height: 20px;
      width: 40px;
      border-radius: 4px;
      border : 1px white;
  }

  .submit-btn {
      height: 30px;
      width: 60px;
  }

  .btn{
      border-radius: 2px;
      background: lightgray;
      border : 1px white;
      transition: all 25ms ease;
  }

  .left-right-btns{
      margin: 1px 1px 0px 0px;
      height: 30px;
      width: 30px;
      border-radius: 4px;
      border : 2px black;
  }

  .btn:hover{
      background: rgb(224, 224, 224);
  }

  .btn:active{
      background: darkgray;
  }

  .content-div{
      font-size: 16px;
      padding-top: 30px; 
      padding-left: 30px; 
  }

  .submit_status {
    display : flex;
    flex-direction: row;    
    gap : 40px;
  }

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 115px;
    background: "red";
  }